
root { 
    display: block;
}
.root {
-fx-background-color: #000000;
}
.label {
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: #ffffff;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}

#welcome-text {
   -fx-font-size: 32px;
   -fx-font-family: "American Typewriter";
   -fx-fill: #818181;
   -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}
#actiontarget {
  -fx-font-size: 16px;
  -fx-fill: #2e2ed1;
  -fx-font-weight: bold;  
}

.button {
    -fx-text-fill: #FFFFFF;
    -fx-font-family: "American Typewriter";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#212191, #191970);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}
